{% extends "admin_base.html" %}
{% load static %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Overall Numbers</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <h4>Total Stock</h4>
            <h2>{{ product.product_stock.stock_quantity }}</h2>
        </div>
        <div class="col-6 col-md-4 text-center">
            <h4>Total Orders</h4>
            <h2>{{ order_count }}</h2>
        </div>
        <div class="col-6 col-md-4 text-center">
            <h4>Completed Orders</h4>
            <h2>{{ completed_order_count }}</h2>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Recent Orders</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-light table-sm">
            <thead>
                <tr>
                    <th class="border-top-0 d-none d-md-table-cell">Order No.</th>
                    <th class="border-top-0 d-table-cell d-md-none">Order No. & Date</th>
                    <th class="border-top-0 d-none d-lg-table-cell">Date/Time</th>
                    <th class="border-top-0 d-none d-md-table-cell d-lg-none">Date</th>
                    <th class="border-top-0 d-none d-lg-table-cell">Full Name</th>
                    <th class="border-top-0 d-none d-lg-table-cell">Delivery</th>
                    <th class="border-top-0 d-lg-none">Full Name & Delivery</th>
                    <th class="border-top-0">Grand Total</th>
                    <th class="border-top-0">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td class="text-nowrap d-none d-md-table-cell">{{ order.order_number }}</td>
                    <td class="d-table-cell d-md-none">{{ order.order_number }}<br>{{ order.date|date:"d/m/y" }}</td>
                    <td class="d-none d-lg-table-cell">{{ order.date|date:"D - d/m/y - H:i" }}</td>
                    <td class="d-none d-md-table-cell d-lg-none">{{ order.date|date:"d/m/y" }}</td>
                    <td class="d-none d-lg-table-cell">{{ order.full_name }}</td>
                    <td class="d-none d-lg-table-cell" title="{{ order.delivery_method }}">{{ order.delivery_method|truncatechars:20 }}</td>
                    <td class="d-lg-none" title="{{ order.delivery_method }}">{{ order.full_name }},<br>{{ order.delivery_method|truncatechars:15 }}</td>
                    <td>£{{ order.grand_total }}</td>
                    <td>{{ order.status|title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}