{% extends "admin_base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'site_admin/css/site_admin.css' %}">
{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-3 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pl-2 pl-md-0 pr-2 pr-md-0 pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Delivery Options</h1>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <form method="POST" action="" class="form mb-2 w-100">
                {% csrf_token %}

                <!-- Delivery Formsets -->
                <div class="col-12 px-0 px-xl-5 text-center">
                    {{ formset.management_form|crispy }}
                    <div class="table-responsive">
                        <table class="table table-sm">
                            {% for form in formset %}
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            {% if forloop.first %}
                            <thead>
                                <tr>
                                    <th class="border-right border-top-0">{{ form.option.label_tag }}</th>
                                    <th class="border-right border-top-0">{{ form.description.label_tag }}</th>
                                    <th class="border-right border-top-0">{{ form.price.label_tag }}</th>
                                    <th class="border-top-0">{{ form.active.label_tag }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% endif %}
                                <tr>
                                    <td class="border-right border-bottom p-1 custom-w-option table-form">{{ form.option }}</td>
                                    <td class="border-right border-bottom p-1 custom-w-desc table-form">{{ form.description }}</td>
                                    <td class="border-right border-bottom p-1 custom-w-price table-form">{{ form.price }}</td>
                                    <td class="p-1 border-bottom table-form custom-w-active">{{ form.active }}</td>
                                </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Delivery End -->

                <div class="col-12 text-right mt-2 mb-3">
                    <a class="btn bg-yellow border-black rounded-0 btn-text-sm mt-2 mt-sm-0" href="">Cancel</a>
                    <button class="btn bg-black border-yellow rounded-0 btn-text-sm mt-2 mt-sm-0" type="submit">Update
                        Delivery</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'site_admin/js/edit_delivery.js' %}"></script>
{% endblock %}