{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font my-2 text-center text-sm-left">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col" class="cell-width-50">Product Info</th>
                            <th scope="col" class="d-none d-md-table-cell"></th>
                            <th scope="col" class="d-none d-sm-table-cell text-center">Price</th>
                            <th scope="col" class="text-center cell-width-50">Qty</th>
                            <th scope="col" class="d-none d-sm-table-cell text-center">Subtotal</th>
                        </tr>
                    </thead>

                    {% for product in bag_items %}
                    <tr>
                        <td class="pt-3 w-25 d-none d-md-table-cell">
                            <img class="img-fluid rounded" src="{{ product.product.product_images.first.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0 d-inline"><strong>{{ product.product.name }}</strong></p><br>
                            <p class="my-0 small text-muted d-inline">SKU: <strong>{{ product.product.sku|upper }}</strong></p><br>
                            <p class="my-0 d-sm-none small text-muted d-inline">PRICE: <strong>£{{ product.product.price }}</strong></p><br>
                            <p class="my-0 d-sm-none small text-muted d-inline">SUBTOTAL: <strong>£{{ product.product.price | calc_subtotal:product.quantity }}</strong></p>
                        </td>
                        <td class="py-3 text-center d-none d-sm-table-cell">
                            <p class="my-0">£{{ product.product.price }}</p>
                        </td>
                        <td class="py-3 text-center w-25">
                            <div class="pl-0 pl-lg-5 pr-0 pr-lg-5">
                                <form class="form update-form" method="POST"
                                    action="{% url 'adjust_bag' product.product.id %}">
                                    {% csrf_token %}
                                    {% if product.product.product_stock.stock_quantity > 0 %}
                                    <div class="form-group mb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm bg-black rounded-0"
                                                    data-product_id="{{ product.product.id }}"
                                                    id="decrement-qty_{{ product.product.id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ product.quantity }}" min="1" max="99"
                                                data-product_id="{{ product.product.id }}"
                                                id="id_qty_{{ product.product.id }}"
                                                title="Error!" data-content="Max Quantity: {{ product.product.product_stock.stock_quantity }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm bg-black rounded-0"
                                                    data-product_id="{{ product.product.id }}"
                                                    id="increment-qty_{{ product.product.id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link text-info float-left"><small>Update</small></a>
                                {% else %}
                                <div class="form-group">
                                        <div class="input-group">
                                            <p class="text-danger mb-0 text-center w-100">Out of stock.</p>
                                        </div>
                                    </div>
                                </form>
                                <a class="text-grey float-left disabled"><small>Update</small></a>
                                {% endif %}
                                <a class="remove-item text-danger float-right"
                                    id="remove_{{ product.product.id }}"><small>Remove</small></a>
                            </div>

                        </td>
                        <td class="py-3 text-center d-none d-sm-table-cell">
                            <p class="my-0">£{{ product.product.price | calc_subtotal:product.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6 class="mb-1"><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                            {% if delivery_set %}
                                <h6 class="mb-0">Delivery: £{{ delivery_option.price|floatformat:2 }}</h6>
                                <h6 data-toggle="modal" data-target="#deliveryModal" class="d-block mb-1 custom-text-hover"><strong>Change Delivery Option</strong></h6>
                            {% else %}
                                <h6 data-toggle="modal" data-target="#deliveryModal" class="d-block mb-1 custom-text-hover"><strong>Select Delivery Option</strong></h6>
                            {% endif %}
                            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'product_detail' product.slug %}"
                                class="btn bg-yellow border-black rounded-0 btn-lg btn-text-sm mt-2 mt-sm-0">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            {% if delivery_set and product.product_stock.stock_quantity > 0 %}
                                <a href="{% url 'checkout' %}" class="btn bg-black border-yellow rounded-0 btn-lg btn-text-sm mt-2 mt-sm-0">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            {% else %}
                                <div class="d-inline" data-toggle="tooltip" data-placement="top" title="Please select a delivery option.">
                                    <a href="" role="button" class="btn bg-black border-yellow rounded-0 btn-lg btn-text-sm mt-2 mt-sm-0 disabled">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'product_detail' product.slug %}"
                class="btn rounded-0 bg-yellow border-black logo-font btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
<input type="hidden" name="stock_quantity" value="{{ product.product_stock.stock_quantity }}">

<!-- Modal -->
<div class="modal fade" id="deliveryModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="deliveryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryModalLabel">Delivery Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless mb-0">
                    <tbody>
                        {% for option in delivery %}
                        <tr>
                            <td>
                                <input type="radio" id="{{ option.delivery_sku }}" name="delivery-option" value="{{ option.price }}"
                                {% if delivery_option.delivery_sku == option.delivery_sku %}checked{% endif %}
                                >
                            </td>
                            <td>
                                <h6>{{ option.option }} - £{{ option.price }}</h6>
                                <p class="mb-0">{{ option.description }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form id="delivery-form" action="{% url 'add_delivery' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id-selected" id="id-selected">
                    <input class="btn btn-success delivery-submit" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'bag/js/bag.js' %}"></script>
{% endblock %}