{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
    <section class="index-bg" style="background: url('{% static 'images/index/jg_kicking.jpg' %}');">
        <div class="overlay">
            <div class="container-fluid landing-height">
                <div class="row landing-height">
                    <div class="col-12 col-sm-11 col-md-9 col-lg-8 col-xl-7 my-auto mx-auto">
                        <div class="card mx-auto w-100 p-3 text-center bg-opaque-black card-border">
                            <h1 class="landing-text logo-font text-custom-yellow card-header">Jimmy G Tee</h1>
                            <p class="text-white pl-3 pr-3 pb-2">The Jimmy G Tee is an adjustable kicking tee that has been used by some of the worlds best
                                goal kickers including Andrew Mehrtens, Simon Culhane, John Earls, Dan Carter, Gavin Henson & 
                                Jimmy Gopperth to name a few.
                                <br>
                                <br>
                                Previously known as the Simpkin Tee, it was designed by the late 
                                rugby legend George Simpkin and was one of the first kicking tees made. Simon Culhane still holds 
                                the record for the most successful kicks in a Rugby World Cup match with 20 kicks (using this tee).
                                Jimmy Gopperth, the 3x English Premiership Golden Boot Winner has scored over 3600 points off this tee.
                            </p>
                            <div>
                                <a href="" class="btn btn-lg rounded-0 bg-yellow border-yellow logo-font shop-now-btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}