<section id="testimonials" class="bg-black">
    <div class="container pb-3">
        <h1 class="landing-text logo-font text-custom-yellow text-center mb-0 pt-3">Testimonials</h1>
        <p class="text-center text-white mt-3 mx-auto w-75 ">
            We are extremely passionate about just how good this kicking tee is; if you don’t believe us take a read
            below…
        </p>

        <div class="row">
            <div class="col-md-12">
                <ul id="testimonial-tabs" class="justify-content-center nav mx-auto">
                    {% for instance in testimonials %}
                    <li class="nav-item text-white">
                        <a class="nav-link tab{% if forloop.first %} active show{% endif %} font-weight-bold text-uppercase pt-0 pt-md-1 pb-1"
                            data-toggle="tab" href="#panel{{ forloop.counter }}">{{ instance.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content pt-0 w-100">
                {% for instance in testimonials %}
                {% if not forloop.counter|divisibleby:2 %}
                <div id="panel{{ forloop.counter }}"
                    class="tab-pane fade in {% if forloop.first %} active show{% endif %}">
                    <br>
                    <div class="row no-gutters">
                        <div class="col-md-4 col-12 mb-0 mb-md-3 p-0 p-md-3">
                            <div class="sponsor-image h-100 m-1 text-center">
                                <img src="{{ instance.image.url }}" class="border-yellow rounded testimonial-image">
                            </div>
                        </div>
                        <div class="col-md-8 col-12 mb-3 p-3">
                            <h3 class="text-center text-uppercase font-weight-bold text-white">{{ instance.name }}</h3>
                            <p class="text-center mt-3 mx-auto w-100 w-100 text-white">
                                {{ instance.testimonial }}
                            </p>
                        </div>
                    </div>
                </div>
                {% else %}
                <div id="panel{{ forloop.counter }}"
                    class="tab-pane fade in {% if forloop.first %} active show{% endif %}">
                    <br>
                    <div class="row no-gutters">
                        <div class="d-none d-md-inline col-md-8 mb-3 p-3">
                            <h3 class="text-center text-uppercase font-weight-bold text-white">{{ instance.name }}</h3>
                            <p class="text-center mt-3 mx-auto w-100 w-100 text-white">
                                {{ instance.testimonial }}
                            </p>
                        </div>
                        <div class="d-none d-md-inline col-md-4 mb-0 mb-md-3 p-0 p-md-3">
                            <div class="sponsor-image h-100 m-1 text-center">
                                <img src="{{ instance.image.url }}" class="border-yellow rounded testimonial-image">
                            </div>
                        </div>
                        <!-- Below is used to ensure the photo is on top with medium and below -->
                        <div class="d-md-none col-12 mb-0 mb-md-3 p-0 p-md-3">
                            <div class="sponsor-image h-100 m-1 text-center">
                                <img src="{{ instance.image.url }}" class="border-yellow rounded testimonial-image">
                            </div>
                        </div>
                        <div class="d-md-none col-12 mb-3 p-3">
                            <h3 class="text-center text-uppercase font-weight-bold text-white">{{ instance.name }}</h3>
                            <p class="text-center mt-3 mx-auto w-100 w-100 text-white">
                                {{ instance.testimonial }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</section>