<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item menu-item-1 {% if request.get_full_path == home_url %}active{% endif %}">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item menu-item-2">
            <a class="nav-link" href="{% url 'home' %}#gallery">Gallery</a>
        </li>
        <li class="nav-item menu-item-3">
            <a class="nav-link" href="{% url 'home' %}#testimonials">Testimonials</a>
        </li>
        <li class="nav-item menu-item-4">
            <a class="nav-link" href="{% url 'home' %}#kicking">Kicking</a>
        </li>
        <li class="nav-item menu-item-5 {% if request.get_full_path == shop_url %}active{% endif %}">
            <a class="nav-link" href="product_slug">Shop</a>
        </li>
        <li class="nav-item menu-item-6 {% if request.get_full_path == contact_url %}active{% endif %}">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
    </ul>
</div>

