<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item active menu-item-1">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item menu-item-2">
            <a class="nav-link" href="{% url 'home' %}#gallery">Gallery</a>
        </li>
        <li class="nav-item menu-item-3">
            <a class="nav-link" href="{% url 'home' %}#testimonials">Testimonials</a>
        </li>
        <li class="nav-item menu-item-4">
            <a class="nav-link" href="{% url 'home' %}#kicking">Kicking</a>
        </li>
        <li class="nav-item menu-item-5">
            <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item menu-item-6">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
    </ul>
</div>

