<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item menu-item-1 {% if request.get_full_path == home_url %}active{% endif %}">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown menu-item-2 {% if request.get_full_path == my_story %}active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                JimmyG Tee
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'home' %}#about">About</a>
                <a class="dropdown-item" href="{% url 'my_story' %}">My Story</a>
            </div>
        </li>
        <li class="nav-item menu-item-3">
            <a class="nav-link" href="{% url 'home' %}#gallery">Gallery</a>
        </li>
        <li class="nav-item menu-item-4">
            <a class="nav-link" href="{% url 'home' %}#video">Video</a>
        </li>
        <li class="nav-item menu-item-5">
            <a class="nav-link" href="{% url 'home' %}#kicking">Kicking</a>
        </li>
        <li class="nav-item menu-item-6 {% if request.get_full_path == shop_url %}active{% endif %}">
            <a class="nav-link" href="{% url 'product_detail' product.slug %}">Shop</a>
        </li>
        <li class="nav-item menu-item-7 {% if request.get_full_path == contact_url %}active{% endif %}">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
    </ul>
</div>

