.custom-select-width {
    width: 100%;
}

.custom-w-active {
    width: 18%;
}

.custom-w-price {
    width: 12%;
}

.custom-w-desc {
    width: 45%;
}

.custom-w-option {
    width: 25%;
}

.custom-w-name {
    width: 15%;
}

.custom-w-testimonial {
    width: 53%;
}

.custom-w-image {
    width: 20%;
}

.custom-w-active-tests {
    width: 12%;
}

.no-active:active,
.no-active:focus {
    outline-width: 0px !important;
    background-color: #f1f1f1;
}

.table-form:focus-within {
    outline-width: 0px !important;
    background-color: #f1f1f1;
}

.page-item.active .page-link {
    background-color: #000000;
    border-color: #000000;
}

.custom-file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
}

.custom-file-input {
    height: 21px;
}

.text-transparent {
    opacity: 0;
}

.custom-file-input {
    cursor: pointer;
}

.custom-file {
    position: relative;
    height: auto;
    min-height: 25px;
}

/* || Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .custom-select-width {
        width: 75%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .custom-w-name {
    width: 17%;
    }

    .custom-w-testimonial {
        width: 53%;
    }

    .custom-w-image {
        width: 18%;
    }

    .custom-w-active-tests {
        width: 12%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .custom-w-active {
        width: 12.5%;
    }

    .custom-w-price {
        width: 12.5%;
    }

    .custom-w-desc {
        width: 50%;
    }

    .custom-w-option {
        width: 25%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .custom-select-width {
        width: 50%;
    }

    .custom-w-name {
        width: 15%;
    }

    .custom-w-testimonial {
        width: 50%;
    }

    .custom-w-image {
        width: 20%;
    }

    .custom-w-active-tests {
        width: 15%;
    }
}