{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="logo-font mb-2">Product Management</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form method="POST" action="{% url 'edit_product' product.slug %}" class="form mb-2 w-100" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <!-- Product Form -->
                        <div class="col-12 col-md-6">
                                {{ form|crispy }}
                        </div>
                        <!-- Product Form End -->

                        <!-- Product Features Form -->
                        <div class="col-12 col-md-6 responsive-border-left">
                            {{ formset.non_form_errors|crispy }}
                            <div class="row">
                                {% for form in formset %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                <div class="col-12 inline-formset">
                                    {% if forloop.first %}
                                        <label class="requiredField mb-2">
                                            Feature<span class="asteriskField">*</span>
                                        </label>
                                    {% endif %}
                                    {{ form.feature|as_crispy_field }}
                                    {{ form.DELETE }}
                                </div>
                                {% endfor %}
                                {{ formset.management_form }}
                            </div>
                        </div>
                        <!-- Product Features Form End -->
                    </div>
                    <hr>

                    <!-- Product Images Form -->
                    <div class="col-12 text-center">
                        {{ image_formset.non_form_errors|crispy }}
                        <div class="row">
                            {% for form in image_formset %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% if forloop.first %}
                                <div class="col-12 p-0">
                                    <label class="requiredField mb-2">
                                        Images<span class="asteriskField">*</span>
                                    </label>
                                </div>
                                {% endif %}
                            <div class="col-6 col-md-3 p-0 inline-formset">
                                {{ form.image }}
                                {% if form.instance.pk %}
                                    {{ form.DELETE }}
                                {% endif %}
                            </div>
                            {% endfor %}
                            {{ image_formset.management_form }}
                        </div>
                    </div>
                    <!-- Product Images End -->
                    
                    <div class="text-right">
                        <a class="btn bg-yellow border-black rounded-0 btn-text-sm mt-2 mt-sm-0" href="">Cancel</a>
                        <button class="btn bg-black border-yellow rounded-0 btn-text-sm mt-2 mt-sm-0" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'products/js/edit_product.js' %}"></script>
{% endblock %}