{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-lg-1 offset-xl-2">
            <div class="row">
                <div class="col-12">

                    <div class="image-container my-5 view">
                        {% for image in product_images %}
                        <img src="{{ image.image.url }}" alt="{{ image.product.name }}"
                            id="product_image{{ forloop.counter }}"
                            class="card-img-top img-fluid box-shadow product-border {% if forloop.first %}"
                            {% else %}secondary-image d-none"{% endif %}>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        {% for image in product_images %}
                        <div class="col-3">
                            <div class="thumbnail rounded">
                                <img src="{{ image.image.url }}" id="thumbnail{{ forloop.counter }}"
                                    class="img-fluid box-shadow product-border" alt="{{ image.product.name }}">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                <p class="mt-3">{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript" src="{% static 'products/js/products.js' %}"></script>
{% endblock %}